<!-- sidebar.php -->
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky pt-3">AI-Based Day Student Monitoring System</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/}"><i class="fas fa-home me-2"></i>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#reportsSubmenu"><i class="fas fa-chart-pie me-2"></i>Students <i class="fas fa-caret-down float-end"></i></a>
                <ul class="collapse nav flex-column ms-3" id="reportsSubmenu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/getStudent}">Add Student</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/allStudents}">All Students</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#projectsSubmenu"><i class="fas fa-folder me-2"></i>Management<i class="fas fa-caret-down float-end"></i></a>
                <ul class="collapse nav flex-column ms-3" id="projectsSubmenu">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/addDepartment}">Department</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/level/getLevel}">Level</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/hod}">Hod</a></li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#projectsSubmenus"><i class="fas fa-folder me-2"></i>Teacher view<i class="fas fa-caret-down float-end"></i></a>
                <ul class="collapse nav flex-column ms-3" id="projectsSubmenus">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/teacher}">Teacher</a></li>

                </ul>
            </li>


            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#projectsSubmenuss"><i class="fas fa-folder me-2"></i>Subject view<i class="fas fa-caret-down float-end"></i></a>
                <ul class="collapse nav flex-column ms-3" id="projectsSubmenuss">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/subject/getSubject}">Subject</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/SubToTeach}">Sub</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
